ORACLE_USER=M_HAMILTON_STORE
ORACLE_PASSWORD=
ORACLE_CONNECTION=dbadministracionylenguajes_high

# ORACLE_WALLET_TNS_ADMIN=/ruta/absoluta/al/wallet
# ORACLE_SSL_SERVER_DN_MATCH=no
# ORACLE_SCHEMA=M_HAMILTON_STORE
